# 下面配置一些连接信息
# 进行备份时使用的用户
crawler.hadoop.user=${crawler.hadoop.user}
# 进行备份的HDFS的连接
crawler.hadoop.url=${crawler.hadoop.url}
# zookeeper quorum
crawler.zookeeper.quorum=${crawler.zookeeper.quorum}
# zookeeper port
crawler.zookeeper.clientPort=${crawler.zookeeper.clientPort}
# 进行备份的HDFS路径
crawler.hadoop.path=${crawler.hadoop.path}