crawler.site-manager.workdir=${crawler.site-manager.workdir}
# 一个作业的超时时间设置为5分钟
crawler.site-manager.job.timeout=300000
# 一个作业的尝试执行次数
crawler.site-manager.job.tryTime=3
# 清理器清理的时间间隔，设置为100s
crawler.site-manager.queue.cleaner.period=100000
# 备份的时间间隔，设置为1个小时
crawler.site-manager.backuper.backup.period=3600000
# 爬取的最大深度，负数表示没有限制
crawler.site-manager.site.maxDepthOfCrawling=-1
# 站点爬取的页面的最大数目，负数表示没有限制
crawler.site-manager.site.maxPagesToFatch=-1